@model MvcTutorial.Models.UserChangePasswordModelClass
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<h3></h3>
<div class="panel panel-success">
    <div class="panel-heading"><h3 style="text-align:center"><b>Change Password Module</b></h3></div>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 style="text-align:center"><b>Change Password</b></h4></div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    <p>
                        <label>Old Password</label>
                        @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                        <font color="red">  @Html.ValidationMessageFor(model => model.OldPassword)</font>
                    </p>
                    <p>
                        <label>New Password</label>
                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                        <font color="red">  @Html.ValidationMessageFor(model => model.NewPassword)</font>
                    </p>
                    <p>
                        <label>Confirm Password</label>
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        <font color="red">  @Html.ValidationMessageFor(model => model.ConfirmPassword)</font>
                    </p>

                    <button class="btn">Change Password</button>
                    <br />
                    // here i m adding Font Color Red To Display Error Message
                    <font color=green>  @ViewBag.SuccessMessage</font>
                    <font color=red>@ViewBag.Message</font>
                }
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Change Password Content</h4>
            </div>
            <div class="panel-body">
                <p>
                    Change Password page is allow user to create new Password. So in this page we Created 3 class which are lsited below.
                </p>
                <ul>
                    <li>
                        <b>1. UserChangePasswordModelClass.cs</b> ('Find Model inside Model Folder  &raquo; UserChangePasswordModelClass.cs ')
                        <p>
                            <b>public class UserChangePasswordModelClass { }</b> inside this class all the parameter created.
                        </p>
                    </li>
                    <li>
                        <b>2. UserController.cs</b>('Find Controller inside Controller Folder  &raquo; UserController.cs ')
                        <p>
                            Login() GET  Method <b>[HttpGet]  public ActionResult ChangePassword() { } </b><br />
                            Login() POST Method <b>[HttpPost] public ActionResult ChangePassword(UserChangePasswordModelClass modelchangerPasswordData) { } </b>
                        </p>

                    </li>

                    <li>
                        <b>3. ChangePassword.cshtml</b> ('Find View inside Views Folder  &raquo; User Folder &raquo; ChangePassword.cshtml')
                        <p>
                            A View is also a one Class. so in this Page we are using Html.BeginForm to perform Edit operation.
                        </p>
                    </li>
                </ul>
                <hr>
                <a style="float:left" href="/Home/Designing">Design Used</a> <a style="float:right" href="/Home/Information">Application Info</a>
            </div>
            @*<div class="panel-body">
                    <p>
                        Change Password page is the basic need of any Application. The user information needs to be validated in the system before doing any action in the system.We will create a login form step by step.
                    </p>
                    <ul>
                        <li>
                            I have Created and added validation in <b>UserForgotPasswordModelClass.cs</b> (Find in Model Folder)
                        </li>
                        <li>
                            Create Controller in Controller Folder <b>UserController.cs</b> & View With _layout.cshtml (Find inside View => User => <b>ForgotPassword.cshtml</b> Folder)
                        </li>
                        <li>
                            If a Mobile No is valid, it Allow User to Create New Password.
                        </li>
                        <li>
                            If a Mobile No does not exist in the database, it shows the error 'Mobile No and password is wrong.'.
                        </li>
                        <li>
                            Here i m using inbuilt bootstrap.css <a href="https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_panels_contextual&stacked=h" target="_blank">Click here</a> to check Code demo and the Login.cshtml page so you get better idea.
                        </li>
                        <li>
                            &lt;div class="panel panel-primary"&gt;
                            &lt;div class="panel-heading" &gt; Panel with panel-primary class &lt;/div &gt;
                            &lt;div class="panel-body"&gt; Panel Content
                            &lt;/div&gt;
                            &lt;/div&gt;
                        </li>
                    </ul>
                </div>*@
        </div>
    </div>
</div>

