@model MvcTutorial.Models.UserNewPasswordModelClass

@{
    ViewBag.Title = "Create NewPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<h3></h3>
<div class="panel panel-success">
    <div class="panel-heading"><h3 style="text-align:center"><b>Create New Password Module</b></h3></div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 style="text-align:center"><b>Create New Password</b></h4></div>
            <div class="panel-body">
                @using (Ajax.BeginForm("CreateNewPassword", "User", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "OnSuccess",
                }))
                {
                    //Here I have Use Defult CSS Class('form-control') for Textbox Which is located in Content => bootstrap.css
                    <p>
                        <label>New Password</label>
                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                        <font color=red> @Html.ValidationMessageFor(model => model.NewPassword)</font>
                    </p>
                    <p>
                        <label>Confirm Password</label>
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        <font color=red> @Html.ValidationMessageFor(model => model.ConfirmPassword)</font>
                    </p>
                    <a href="/User/ForgotPassword" class="btn btn-default">Back</a>
                    <button class="btn" id="btnNewPasswordSave">Save</button>
                    <br />
                    <font color=green>  @ViewBag.SuccessMessage</font>
                    <font color=red>@ViewBag.Message</font>
                }
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>New Password Content</h4>
            </div>
            <div class="panel-body">
                <p>
                    Create New Password page if User Mobile No is Valid then it will allow user to create New Password for his/her Account.
                    So For this page we Created 3 class which are lsited below.
                </p>
                <ul>
                    <li>
                        <b>1. UserNewPasswordModelClass.cs</b>('Find Model inside Model Folder  &raquo; UserNewPasswordModelClass.cs')
                        <p>
                            <b>public class UserNewPasswordModelClass { }</b> inside this class all the parameter created.
                        </p>
                    </li>
                    <li>
                        <b>2. UserController.cs</b> ('Find Controller inside Controller Folder  &raquo; UserController.cs')
                        <p>
                            CreateNewPassword() GET  Method <b>[HttpGet]  public ActionResult CreateNewPassword() { } </b><br />
                            CreateNewPassword() POST Method <b>[HttpPost] public ActionResult CreateNewPassword(UserNewPasswordModelClass modelnewpasswordData) { } </b>
                        </p>
                    </li>

                    <li>
                        <b>3. CreateNewPassword.cshtml</b> ('Find View inside Views Folder  &raquo; User Folder &raquo; CreateNewPassword.cshtml')
                        <p>
                            A View is also a one Class. so in this Page we are using Ajax.BeginForm. we are using Some scripts in this page (visit the page code to check).<br />
                           After Creating a new password we redirect user to the Login page to re-login with new password.
                        </p>
                    </li>
                </ul>
                <hr>
                <a style="float:left" href="/Home/Designing">Design Used</a> <a style="float:right" href="/Home/Information">Application Info</a>
            </div>
        </div>
    </div>
</div>
<script>
    function OnSuccess(e) {
        switch (e.msg) {
            case "success":
                alert("New Password Created Successfully Click Ok to Continue...")
                window.location.replace("/User/Login")
                break;
            case "wrong":
                alert("Something went wrong Recode Not updated");
                break;
            default:
                alert("We couldn't connect to the server!");
                break;
        }
    }
</script>