@model MvcTutorial.Models.UserForgotPasswordModelClass

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

<h3></h3>



<div class="row" id="ForgotPassword">
    <div class="panel panel-success">
        <div class="panel-heading"><h3 style="text-align:center"><b>Forgot Password Module</b></h3></div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 style="text-align:center"><b>Forgot Password</b></h4></div>
            <div class="panel-body">
                @using (Ajax.BeginForm("ForgotPassword", "User", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "OnSuccess",
                }))
                {
                    //Here I have Use Defult CSS Class('form-control') for Textbox Which is located in Content => bootstrap.css
                    <p>
                        <label>Mobile No</label>
                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                        <font color=red> @Html.ValidationMessageFor(model => model.MobileNo)</font>
                    </p>

                    <button class="btn" id="btnForgotPassword">Forgot Password</button>
                    <br />
                    <font color=green>  @ViewBag.SuccessMessage</font>
                    <font color=red>@ViewBag.Message</font>
                }
            </div>
        </div>
    </div>


    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Forgot Password Content</h4>
            </div>
            <div class="panel-body">
                <p>
                    Forgot Password page we verify the User Mobile No if it is Valid then we send OTP SMS to his/her Number after verify the OTP Application allow user to Gengerate New Password. In This Applicaiton We have not intigrated any SMS Service so we are not verifying the OTP. If Mobile No is Valid then We Allow user to change His Password.
                    <b>And In Real time Application you have to integrate SMS or Email Service For Security.</b> So in this page we Created 3 class which are lsited below.
                </p>
                <ul>
                    <li>
                        <b>1. UserForgotPasswordModelClass.cs</b> ('Find Model inside Model Folder  &raquo; UserForgotPasswordModelClass.cs ')
                        <p>
                            <b>public class UserForgotPasswordModelClass { }</b> inside this class all the parameter created.
                        </p>
                    </li>
                    <li>
                        <b>2. UserController.cs</b>('Find Controller inside Controller Folder  &raquo; UserController.cs ')
                        <p>
                            ForgotPassword() GET  Method <b>[HttpGet]  public ActionResult ForgotPassword() { } </b><br />
                            ForgotPassword() POST Method <b>[HttpPost] public ActionResult ForgotPassword(UserForgotPasswordModelClass modelforgotpasswordData) { } </b>
                        </p>

                    </li>
                    <li>
                        <b>3. ForgotPassword.cshtml</b> ('Find View inside Views Folder  &raquo; User Folder &raquo; ForgotPassword.cshtml')
                        <p>
                            A View is also a one Class. so in this Page we are using Html.BeginForm. we are not using any scripts in this page.<br />
                            If user is valid then page will redirect to the user to another Page Where he/she can access the other Functionality of the application like Profile update, Change Password, Delete Account etc.
                        </p>
                    </li>
                    @*<li>
                            &lt;div class="panel panel-primary"&gt;
                            &lt;div class="panel-heading" &gt; Panel with panel-primary class &lt;/div &gt;
                            &lt;div class="panel-body"&gt; Panel Content
                            &lt;/div&gt;
                            &lt;/div&gt;
                        </li>*@
                </ul>
                <hr>
                <a style="float:left" href="/Home/Designing">Design Used</a> <a style="float:right" href="/Home/Information">Application Info</a>
            </div>
        </div>
    </div>


</div>
@*<div id="PartialView">
        @Html.Partial("_ChangePasswordPartialView")
    </div>*@


<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    //$(document).ready(function () {
    //    $("#PartialView").hide();
    //});
    function OnSuccess(e) {
        switch (e.msg) {
            case "success":
                //$("#ForgotPassword").hide();
                //$("#PartialView").show();
                alert("Mobile No is Verified Click Ok to Continue...")
                window.location.replace("/User/CreateNewPassword")
                break;
            case "wrong":
                alert("Something went wrong Recode Not updated");
                break;
            default:
                alert("We couldn't connect to the server!");
                break;
        }
    }
</script>

