@model MvcTutorial.Models.UserProfileModelClass
@{
    ViewBag.Title = "Profile Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@*Make Sure if You User Ajax.BeginFrom the Add the above file in your project *@



<h3></h3>
<div class="panel panel-success">
    <div class="panel-heading"><h3 style="text-align:center"><b>Edit Profile Module</b></h3></div>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 style="text-align:center"><b>Profile Information</b></h4></div>
            <div class="panel-body">
                @using (Ajax.BeginForm("ProfileInfo", "User", new AjaxOptions
                {
                    HttpMethod = "POST"

                }))
                //if you don't want to perfrom any remote validation or Ajax.BeginForm then Comment the above  Ajax.BeginForm Method and unComment the Html.BeginForm
                //@using(Html.BeginForm())
                {

                    @Html.HiddenFor(model => model.UserID)
                    <p>
                        <label>Name</label>
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    </p>
                    <p>
                        <label>Email Address</label>
                        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                        <font color=red>  @Html.ValidationMessageFor(model => model.EmailAddress)</font>
                    </p>
                    <p>
                        <label>Mobile No</label>
                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                        <font color=red>  @Html.ValidationMessageFor(model => model.MobileNo)</font>
                    </p>
                    <p>
                        <label>Address</label>
                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                        <font color=red>  @Html.ValidationMessageFor(model => model.Address)</font>
                    </p>
                    <button type="submit" id="btnupdateProfile" class="btn">Update</button>
                    <br />
                    <font color=green>  @ViewBag.SuccessMessage</font>
                    <font color=red>  @ViewBag.Message</font>
                }
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Edit Profile Content</h4>
            </div>
            <div class="panel-body">
                <p>
                    ProfileInfo page is allow user to update his/her recode. We store UserID in Session when user login to the application so using that ID we get all information and display it in View. So in this page we Created 3 class which are lsited below.
                </p>
                <ul>
                    <li>
                        <b>1. UserProfileModelClass.cs</b> ('Find Model inside Model Folder  &raquo; UserProfileModelClass.cs ')
                        <p>
                            <b>public class UserProfileModelClass { }</b> inside this class all the parameter created.
                        </p>
                    </li>
                    <li>
                        <b>2. UserController.cs</b>('Find Controller inside Controller Folder  &raquo; UserController.cs ')
                        <p>
                            Login() GET  Method <b>[HttpGet]  public ActionResult ProfileInfo() { } </b><br />
                            Login() POST Method <b>[HttpPost] public ActionResult ProfileInfo(UserProfileModelClass modelprofiledData) { } </b>
                        </p>

                    </li>

                    <li>
                        <b>3. ProfileInfo.cshtml</b> ('Find View inside Views Folder  &raquo; User Folder &raquo; ProfileInfo.cshtml')
                        <p>
                            A View is also a one Class. so in this Page we are using Ajax.BeginForm to perform Edit operation. and we also use remote validation to check Email Address & Mobile No his/her update is already existing or not.
                            so to perfrom Remote Validation You have to Add Some inbuilt Javascript reference to this page <b>("jquery-1.10.2.min.js", "jquery.validate.min.js", "jquery.validate.unobtrusive.min.js")</b> this scripts is located in Scripts Folder
                        </p>
                    </li>
                </ul>
                <hr>
                <a style="float:left" href="/Home/Designing">Design Used</a> <a style="float:right" href="/Home/Information">Application Info</a>
            </div>
        </div>
    </div>
</div>

